'.source.js.jsx':
  # Layout
  'Flex':
    'prefix': 'aFlex'
    'body': """
      {/* direction、wrap、justify、align */}
      <Flex justify="start" align="center">
        <Flex.Item />
      </Flex>
    """
    'description': 'Flex 是 CSS flex 布局的一个封装'
    'descriptionMoreURL': 'http://t.cn/RrZrmcn'
  'WingBlank':
    'prefix': 'aWingBlank'
    'body': """
      <WingBlank
        size="lg" // sm,md,lg
      >
        $2
      </WingBlank>
    """
    'description': '两翼留白'
    'descriptionMoreURL': 'http://t.cn/RrwPNrv'
  'WhiteSpace':
    'prefix': 'aWhiteSpace'
    'body': """
      <WhiteSpace
        size="md" // xs,sm,md,lg,xl
      />
    """
    'description': '上下留白'
    'descriptionMoreURL': 'http://t.cn/Rrw7lcB'
  # Navigation
  'Pagination 分页器':
    'prefix': 'aPagination'
    'body': """
      <Pagination
        mode="pointer" // button,number,pointer
        simple // 是否隐藏数值
        total={5}
        current={2}
        locale= {{
          prevText: '上一页',
          nextText: '下一页',
        }}
        // onChange= {$1}
      />
    """
    'description': '分隔长列表，每次只加载一个页面'
    'descriptionMoreURL': 'http://t.cn/RrAZ16w'
  'SegmentedControl':
    'prefix': 'aSegmentedControl'
    'body': """
      <SegmentedControl
        tintColor="#2DB7F5"
        selectedIndex={0}
        values={['Segment1', 'Segment2', 'Segment3']}
        onChange={$1}
        onValueChange={$2}
      />
    """
    'description': '由至少 2 个分段控件组成，用作不同视图的显示；是 iOS 的推荐组件'
    'descriptionMoreURL': 'http://t.cn/RrAiTqJ'
  # Data Entry
  'DatePicker':
    'prefix': 'aDatePicker'
    'body': """
      <DatePicker
        mode="${1:date/time/datetime/year/month}"
        value={this.state.${2:value}}
        minDate={new Date(2000, 1, 1)}
        maxDate={new Date(2030, 1, 1)}
        onChange={$2 => this.setState({$2})}
        extra="${3:请选择}"
      >
        <List.Item arrow="horizontal">Select Date</List.Item>
      </DatePicker>
    """
    'description': 'DatePicker 日期选择'
    'descriptionMoreURL': 'http://t.cn/RBnYX7E'
  # Data Display
  'List 列表':
    'prefix': 'aList'
    'body': """
      // const Item = List.Item
      // const Brief = List.Item.Brief
      <List>
        <Item
          // thumb // 缩略图(当为 string 类型时作为 img src)
          // extra // 右边内容
          // arrow="horizontal" // horizontal,up,down,empty
          // align // 子元素垂直对齐，可选top,middle,bottom
          // multipleLine // 多行
          // wrap	 // 是否换行，默认情况下，文字超长会被隐藏
          onClick={afr$1}
        >
          标题文字
          <Brief>辅助文字内容</Brief>
        </Item>
      </List>
    """
    'description': 'List 列表'
    'descriptionMoreURL': 'http://t.cn/RrPdkUV'
  'List.Item':
    'prefix': 'aItem'
    'body': """
      <Item
        // thumb // 缩略图(当为 string 类型时作为 img src)
        // extra // 右边内容
        // arrow // horizontal,up,down,empty
        // align // 子元素垂直对齐，可选top,middle,bottom
        // multipleLine // 多行
        // wrap	 // 是否换行，默认情况下，文字超长会被隐藏
        onClick={() => { $1 }}
      >
        标题文字
        <Brief>辅助文字内容</Brief>
      </Item>
    """
    'description': 'List.Item'
    'descriptionMoreURL': 'http://t.cn/RrPkbZx'
