'.source.js.jsx':
  'DatePicker':
    'prefix': 'DatePicker'
    'body': """
      <DatePicker
        mode="${1:date/time/datetime/year/month}"
        value={this.state.${2:value}}
        minDate={new Date(2000, 1, 1)}
        maxDate={new Date(2030, 1, 1)}
        onChange={$2 => this.setState({$2})}
        extra="${3:请选择}"
      >
        <List.Item arrow="horizontal">Select Date</List.Item>
      </DatePicker>
    """
    'description': 'DatePicker 日期选择'
    'descriptionMoreURL': 'http://t.cn/RBnYX7E'
