'.source.js.jsx':
  # React Native 组件骨架
  'React Native Component Skeleton':
    'prefix': 'rnc'
    'body': """
      import React, { Component } from 'react'
      import {
        View,
        Text,
        StyleSheet,
      } from 'react-native'

      const styles = StyleSheet.create({
        container: {
          flex: 1,
        },
      })

      export default class ${1:MyComponent} extends Component {
        constructor(props) {
          super(props)
          this.state = {$2}
        }
        ${3:componentDidMount() {$4}}
        render() {
          return (
            <View style={styles.container}>
              <Text>I am the ${1:MyComponent} component</Text>
            </View>
          )
        }
      }

    """
  # React Native 纯组件骨架
  'React Native Pure Component Skeleton':
    'prefix': 'rncp'
    'body': """
      import React from 'react'
      import {
        View,
        Text,
        StyleSheet,
      } from 'react-native'

      const styles = StyleSheet.create({
        container: {
          flex: 1,
          justifyContent: 'center',
          alignItems: 'center',
        },
      })

      export default ({$2}) => (
        ${3:<View style={styles.container\\}>
          ${4:<Text>${5:I am ${1:MyComponent}}</Text>}
        </View>}
      )
      """
  'React Native Pure Function':
    'prefix': 'rnpf'
    'body': """
      const ${1:MyComponent} = ({$2}) => (
        ${3:<View style={styles.container\\}>
          ${4:<Text>${5:I am ${1:MyComponent}}</Text>}
        </View>}
      )
    """
  'React Native class':
    'prefix': 'rnclass'
    'body': """
      class $1 extends Component {
        constructor(props) {
          super(props)
          this.state = {$2}
        }
        render() {
          return (
            $3
          )
        }
      }
    """
  '不换行的箭头函数':
    'prefix': 'afr'
    'body': """
      ($1) => $2
    """
  'React Native Class Constructor':
    'prefix': 'rncc'
    'body': """
      constructor(props) {
        super(props)
        this.state = {
          $1,
        }
      }
    """
  'componentWillMount':
    'prefix': 'willmount'
    'body': """
      componentWillMount() {
        ${1:coding}
      }
    """
  'componentDidMount':
    'prefix': 'didmount'
    'body': """
      componentDidMount() {
        ${1:coding}
      }
    """
  'componentWillUnmount':
    'prefix': 'willUnmount'
    'body': """
      componentWillUnmount() {
        ${1:coding}
      }
    """
  # 事件
  'onPress':
    'prefix': 'onPress'
    'body': """
      onPress={($1) => { $2 } }
    """
  # 内置对象
  'React Native 获取设备尺寸':
    'prefix': 'Dimensions'
    'body': """
      Dimensions.get('${1:window/screen}')
    """
    'description': 'Dimensions 设备尺寸'
    'descriptionMoreURL': 'http://t.cn/Rrvjvxi'
