'.source.js.jsx':
  "React: Component state":
    'prefix': "rcs"
    'body': """
      state = {
        $1
      }
    """
  "React: Component setState":
    'prefix': "thissetState"
    'body': """
      this.setState({
        $1
      })
    """
  "React: Component setState with Callback":
    'prefix': "thissetStateCallback"
    'body': """
      this.setState((prevState) => {
        return {
          $1
        }
      })
    """
  "React: Component":
    'prefix': "rcomponent"
    'body': """
      class LogoTitle extends React.Component {
        render() {
          return (
            $1
          )
        }
      }
    """
  "React ref":
    'prefix': "ref"
    'body': """
      ref={(c) => { this.state.${1:twitter} = c }}
    """
  'React 获取组件的一个prop getOneProp':
    'prefix': 'getOneProp'
    'body': """
      const ${1:title} = this.state.${2:checkbox}.props.${1:title}.props.children
    """
    'description': 'React Native 获取组件的prop'
    'descriptionMoreURL': 'http://t.cn/RB9iq3p'
