'.source.js.jsx':
  'React Navigation':
    'prefix': 'react-navigation'
    'body': """
      import { createBottomTabNavigator, createMaterialTopTabNavigator, createStackNavigator } from 'react-navigation'
    """
  'React Navigation createStackNavigator':
    'prefix': 'createStackNavigator'
    'body': """
      import { createStackNavigator } from 'react-navigation'
      const RootStack = createStackNavigator(
        {
          ${1:Home}
        },
        {
          initialRouteName: '${1:Home}',
          navigationOptions: {
            headerStyle: {
              backgroundColor: '${2:rgb(85, 163, 223)}',
            },
            headerTintColor: '${3:rgb(255,255,255)}',
          },
        },
      )
      export default () => (
        <RootStack />
      )
    """
    'description': '创建一个 stack navigator'
    'descriptionMoreURL': 'https://reactnavigation.org/docs/zh-Hans/hello-react-navigation.html#stack-navigator'
  'React Navigation createBottomTabNavigator':
    'prefix': 'createBottomTabNavigator'
    'body': """
      import { createBottomTabNavigator, createStackNavigator } from 'react-navigation'
      const HomeStack = createStackNavigator(
        {
          Home,
        },
        {
          initialRouteName: 'Home',
          navigationOptions: {
            title: '首页',
            headerTitle: '首页',
            headerStyle: {
              backgroundColor: 'rgb(85, 163, 223)',
            },
            headerTintColor: 'rgb(255,255,255)',
          },
        },
      )
      const MineStack = createStackNavigator(
        {
          Mine,
        },
        {
          initialRouteName: 'Mine',
          navigationOptions: {
            title: '我的',
            headerTitle: '我的',
            headerStyle: {
              backgroundColor: 'rgb(85, 163, 223)',
            },
            headerTintColor: 'rgb(255,255,255)',
          },
        },
      )
      export default createBottomTabNavigator(
        {
          Home: HomeStack,
          Mine: MineStack,
        },
        {
          initialRouteName: 'Home',
          tabBarOptions: {
            activeTintColor: 'rgb(85, 163, 223)',
            inactiveTintColor: 'gray',
          },
          navigationOptions: ({ navigation }) => ({
            tabBarIcon: ({ focused, tintColor }) => {
              const { routeName } = navigation.state
              let iconName
              if (routeName === 'Home') {
                iconName = 'home'
              } else if (routeName === 'Mine') {
                iconName = 'heart'
              }
              return <Icon name={iconName} size={25} color={tintColor} />
            },
          }),
        },
      )
    """
    'description': '创建一个 stack navigator'
    'descriptionMoreURL': 'https://reactnavigation.org/docs/zh-Hans/hello-react-navigation.html#stack-navigator'
  'React Navigation createMaterialTopTabNavigator':
    'prefix': 'createMaterialTopTabNavigator'
    'body': """
      import { createMaterialTopTabNavigator } from 'react-navigation'
      export default createMaterialTopTabNavigator({
        $1
      }, {
        initialRouteName: '$1',
      })
    """
    'description': 'createMaterialTopTabNavigator'
    'descriptionMoreURL': 'http://t.cn/RBmJije'
  'React Navigation 跳转到新页面':
    'prefix': 'stackNavigate'
    'body': """
      this.props.navigation.navigate('$1', { ${2:/* params go here */} })
    """
    'description': '跳转到新的页面'
    'descriptionMoreURL': 'https://reactnavigation.org/docs/zh-Hans/navigating.html'
  'React Navigation 添加新页面并跳转':
    'prefix': 'stackPush'
    'body': """
      this.props.navigation.push('$1')
    """
    'description': '添加新页面并跳转'
    'descriptionMoreURL': 'https://reactnavigation.org/docs/zh-Hans/navigating.html'
  'React Navigation 手动返回':
    'prefix': 'stackGoBack'
    'body': """
      this.props.navigation.goBack('$1')
    """
    'description': '手动返回'
    'descriptionMoreURL': 'https://reactnavigation.org/docs/zh-Hans/navigating.html'
  'React Navigation 返回到堆栈中的第一个页面':
    'prefix': 'stackPopToTop'
    'body': """
      this.props.navigation.popToTop()
    """
    'description': '返回到堆栈中的第一个页面'
    'descriptionMoreURL': 'https://reactnavigation.org/docs/zh-Hans/hello-react-navigation.html#stack-navigator'
  'React Navigation navigation':
    'prefix': 'navigation'
    'body': """
      const { navigation } = this.props
    """
  'React Navigation 读取页面组件中的参数':
    'prefix': 'statckParams'
    'body': """
      ${1:this.props.}navigation.state.params
    """
  'React Navigation 读取页面组件中的参数 - 推荐':
    'prefix': 'stackGetParam'
    'body': """
      ${1:this.props.}navigation.getParam('$1')
    """
  'React Navigation navigationOptions func':
    'prefix': 'navigationOptionsf'
    'body': """
      static navigationOptions = ({ ${1:navigation}${2:, navigationOptions}${3:, screenProps} }) => ({
        headerTitle: navigation.getParam('headerTitle', '$4'),
        headerStyle: {
          backgroundColor: '$5',
        },
        headerTintColor: '$6',
      })
    """
  'React Navigation LogoTitle':
    'prefix': 'LogoTitle'
    'body': """
      class LogoTitle extends React.Component {
        render() {
          return (
            <Image
              source={require('$1')}
              style={{ width: ${2:30}, height: ${2:30} }}
            />
          )
        }
      }
      static navigationOptions = ({ ${3:navigation,} ${4:navigationOptions,} ${5:screenProps}}) => ({
        headerTitle: <LogoTitle />,
      })
    """
  # createStackNavigator
  'initialRouteName':
    'prefix': 'initialRouteName'
    'body': """
      "initialRouteName": '$1'
    """
  'navigationOptions':
    'prefix': 'navigationOptions'
    'body': """
      static navigationOptions = {
        headerTitle: '$1',
        headerStyle: {
          backgroundColor: Theme.primaryColor,
        },
        headerTintColor: 'rgb(255,255,255)',
      }
    """
  # props
  'React Navigation headerRight':
    'prefix': 'headerRight'
    'body': """
      headerRight: (
        $1
      )
    """
