'.source.js.jsx':
  'style':
    'prefix': 'style'
    'body': """
      style={[styles.$1]}
    """
  'flex':
    'prefix': 'flex'
    'body': """
      flex: ${1:1},
    """
  'flexDirection':
    'prefix': 'flexDirection'
    'body': """
      flexDirection: '${1:row}',
    """
  'alignItems':
    'prefix': 'alignItems'
    'body': """
      alignItems: '${1:center}',
    """
  'alignSlef':
    'prefix': 'alignSlef'
    'body': """
      alignSlef: '${1:center}',
    """
  'justifyContent':
    'prefix': 'justifyContent'
    'body': """
      justifyContent: '${1:center}',
    """
    'alignSelf':
      'prefix': 'alignSelf'
      'body': """
        alignSelf: '${1:center}',
      """
  'fontWeight':
    'prefix': 'fontWeight'
    'body': """
      fontWeight: '$1',
    """
  'textAlign':
    'prefix': 'textAlign'
    'body': """
      textAlign: '${1:center}',
    """
  'fontSize':
    'prefix': 'fontSize'
    'body': """
      fontSize: $1,
    """
  'color':
   'prefix': 'color'
   'body': """
     color: '$1',
   """
  'backgroundColor':
   'prefix': 'backgroundColor'
   'body': """
     backgroundColor: '$1',
   """
  'width':
    'prefix': 'width'
    'body': """
      width: $1,
    """
  'height':
    'prefix': 'height'
    'body': """
      height: $1,
    """
  'padding':
    'prefix': 'padding'
    'body': """
      padding: $1,
    """
  'paddingTop':
    'prefix': 'paddingTop'
    'body': """
      paddingTop: $1,
    """
  'paddingLeft':
    'prefix': 'paddingLeft'
    'body': """
      paddingLeft: $1,
    """
  'paddingRight':
    'prefix': 'paddingRight'
    'body': """
      paddingRight: $1,
    """
  'paddingBottom':
    'prefix': 'paddingBottom'
    'body': """
      paddingBottom: $1,
    """
  'margin':
    'prefix': 'margin'
    'body': """
      margin: $1,
    """
  'margin-auto':
    'prefix': 'marginAuto'
    'body': """
      marginTop: ${1:0},
      marginRight: 'auto',
      marginBottom: ${1:0},
      marginLeft: 'auto',
    """
  'marginTop':
    'prefix': 'marginTop'
    'body': """
      marginTop: $1,
    """
  'marginLeft':
    'prefix': 'marginLeft'
    'body': """
      marginLeft: $1,
    """
  'marginRight':
    'prefix': 'marginRight'
    'body': """
      marginRight: $1,
    """
  'marginBottom':
    'prefix': 'marginBottom'
    'body': """
      marginBottom: $1,
    """
  'position':
    'prefix': 'position'
    'body': """
      position: 'absolute',
    """
  'top':
    'prefix': 'top'
    'body': """
      top: ${1:0},
    """
  'right':
    'prefix': 'right'
    'body': """
      right: ${1:0},
    """
  'bottom':
    'prefix': 'bottom'
    'body': """
      bottom: ${1:0},
    """
  'left':
    'prefix': 'left'
    'body': """
      left: ${1:0},
    """
