'.source.js.jsx':
  'import teaset':
    'prefix': 'teaset'
    'body': """
      import {
        Input,
        Button,
      } from 'teaset'
    """
  'Teaset Button Component':
    'prefix': 'Button'
    'body': """
      <Button
        style={[styles.$1]}
        type="primary"
        size="lg"
        title="按钮"
        onPress={() => {$2}}
      />
    """
  'Teaset Input Component':
    'prefix': 'Input'
    'body': """
      <Input
        style={[styles.$1]}
        size="lg"
        placeholder="$3"
        value={this.state.${2:value}}
        onChangeText={text => this.setState({ value: text })}
      />
    """
  'Teaset Password Input Component':
    'prefix': 'password'
    'body': """
      <Input
        style={[styles.$1]}
        size="lg"
        secureTextEntry
        placeholder="$3"
        value={this.state.${2:value}}
        onChangeText={text => this.setState({ value: text })}
      />
    """
  'Teaset Label Component':
    'prefix': 'Label'
    'body': """
      <Lable
        style={{$6}}
        ${1:type="${2:title/detail/danger}}"
        size="${3:md/lg}"
        text= "$4"
        numberOfLines="${5:1}"
      />
    """
  # NavigationBar
  'Teaset NavigationBar Component':
    'prefix': 'NavigationBar'
    'body': """
      <NavigationBar
        style={styles.$1}
        type="${2:auto/ios/android}"
        title="${3:标题}"
        leftView={<NavigationBar.BackButton title={Theme.backButtonTitle} />}
        rightView={
          <View style={{ flexDirection: 'row' }}>
            <NavigationBar.IconButton icon={search} />
          </View>
        }
      />
    """
  'Teaset NavigationBar.BackButton':
    'prefix': 'NavigationBar.BackButton'
    'body': """
      <NavigationBar.BackButton title={Theme.backButtonTitle} />
    """
  # AlbumView
  'Teaset showAlbumView':
    'prefix': 'showAlbumView'
    'body': """
      showAlbumView(index) {
        const curImg = this.state.curImg
        curImg.measure((x, y, width, height, pageX, pageY) => {
          const overlayView = (
            <Overlay.PopView
              style={{}}
              containerStyle={{ flex: 1 }}
              overlayOpacity={1}
              type="custom"
              customBounds={{
                x: pageX,
                y: pageY,
                width,
                height,
              }}
              ref={(c) => { this.state.fullImageView = c }}
            >
              <AlbumView
                style={{ flex: 1 }}
                control
                images={this.state.images}
                thumbs={this.state.thumbs}
                defaultIndex={index}
                onPress={() => this.state.fullImageView && this.state.fullImageView.close()}
              />
            </Overlay.PopView>
          )
          Overlay.show(overlayView)
        })
      }
    """
  # Badge
  'Teaset Badge Component':
    'prefix': 'Badge'
    'body': """
      <Badge ${1:type="${2:square/dot}"} count={${3:66}} maxCount={${4:99}} />
    """
    'description': '<Badge /> 徽章'
    'descriptionMoreURL': 'http://t.cn/RBS9a7P'
  # Carousel
  'Teaset Carousel Component':
    'prefix': 'Carousel'
    'body': """
      <Carousel
        style={{ height: 238 }}
        control
      >
        <Image
          style={{ width: 375, height: 238 }}
          resizeMode="cover"
          source={{ uri: 'https://i.loli.net/2018/06/14/5b224c61c88ad.jpg' }}
        />
        <Image
          style={{ width: 375, height: 238 }}
          resizeMode="cover"
          source={{ uri: 'https://i.loli.net/2018/06/14/5b224c41b11e3.jpg' }}
        />
        <Image
          style={{ width: 375, height: 238 }}
          sresizeMode="cover"
          source={{ uri: 'https://i.loli.net/2018/06/14/5b224c2796d93.jpg' }}
        />
      </Carousel>
    """
    'description': '<Carousel /> 走马灯'
    'descriptionMoreURL': 'http://t.cn/RBS9j2X'
  # Custom
  'Teaset Custom Carousel Component':
    'prefix': 'CarouselCustom'
    'body': """
      <Carousel
        style={{ height: 238 }}
        control={
          <Carousel.Control
            style={{ alignItems: 'flex-end' }}
            dot={<Text style={{ backgroundColor: 'rgba(0, 0, 0, 0)', color: '#5bc0de', padding: 4 }}>□</Text>}
            activeDot={<Text style={{ backgroundColor: 'rgba(0, 0, 0, 0)', color: '#5bc0de', padding: 4 }}>■</Text>}
          />
        }
      >
        <Image
          style={{ width: 375, height: 238 }}
          resizeMode="cover"
          source={{ uri: 'https://i.loli.net/2018/06/14/5b224c61c88ad.jpg' }}
        />
        <Image
          style={{ width: 375, height: 238 }}
          resizeMode="cover"
          source={{ uri: 'https://i.loli.net/2018/06/14/5b224c41b11e3.jpg' }}
        />
        <Image
          style={{ width: 375, height: 238 }}
          resizeMode="cover"
          source={{ uri: 'https://i.loli.net/2018/06/14/5b224c2796d93.jpg' }}
        />
      </Carousel>
    """
    'description': '<Carousel /> 走马灯'
    'descriptionMoreURL': 'http://t.cn/RBS9j2X'
  # ListRow
  'Teaset ListRow Component':
    'prefix': 'ListRow'
    'body': """
      <ListRow
        title="${1:Title}"
        titlePlace="${2:left/top/none/}"
        detail="${3:detail}"
        icon={(<Icon name="${4:rocket}" size={${5:30}} color="${6:#000}" />)}
        topSeparator="${7:indent/full/none}"
        bottomSeparator="${7:indent/full/none}"
        onPress={(${8:indicator}) => { Alert.alert('Click') }}
      />
    """
    'description': '<ListRow /> 列表行'
    'descriptionMoreURL': 'http://t.cn/RB9OSBH'
  'Teaset ListRow.SwipeActionButton Prop':
    'prefix': 'ListRow.SwipeActionButton'
    'body': """
      <ListRow
        title="${1:Title}"
        titlePlace="${2:left/top/none/}"
        detail="${3:detail}"
        icon={(<Icon name="${4:rocket}" size={${5:30}} color="${6:#000}" />)}
        topSeparator="${7:indent/full/none}"
        bottomSeparator="${7:indent/full/none}"
        swipeActions={[
          <ListRow.SwipeActionButton
            title="Cancel"
            onPress={() => { Alert.alert('Cancel') }}
          />,
          <ListRow.SwipeActionButton
            title="Remove"
            type="danger"
            onPress={() => { Alert.alert('Remove') }}
          />,
        ]}
        onPress={(${8:indicator}) => { Alert.alert('Click') }}
      />
    """
    'description': '<ListRow.SwipeActionButton /> Props'
    'descriptionMoreURL': 'http://t.cn/RB9j0o3'
  ## API
  # ActionPopover
  'Teaset showActionPopover':
    'prefix': 'showActionPopover'
    'body': """
      showActionPopover(view) {
        view.measure((x, y, width, height, pageX, pageY) => {
          const items = [
            { title: 'Copy', onPress: () => Alert.alert('Copy') },
            { title: 'Remove', onPress: () => Alert.alert('Remove') },
            { title: 'Share', onPress: () => Alert.alert('Share') },
          ]
          ActionPopover.show({
            x: pageX, y: pageY, width, height,
          }, items,{
            direction: 'up',
            ${1:autoDirection},
          })
        })
      }
    """
  # ActionSheet API
  'Teaset showActionSheet':
    'prefix': 'showActionSheet'
    'body': """
      showActionSheet() {
        const items = [
          { title: 'Say hello', onPress: () => Alert.alert('Hello') },
          { title: 'Do nothing' },
          { title: 'Disabled', disabled: true },
        ]
        const cancelItem = { title: 'Cancel' }
        ActionSheet.show(items, cancelItem)
      }
    """
  # ActionSheet API
  'Teaset Drawer':
    'prefix': 'Drawer'
    'body': """
      Drawer() {
        const view = (
          <View style={{ backgroundColor: Theme.defaultColor, height: 260, width: '100%' }}>
            <View style={{ flex: 1, alignItems: 'center', justifyContent: 'center' }}>
              <Icon
                name="close"
                size={30}
                color={Theme.primaryColor}
                style={{ position: 'absolute', right: 8, top: 8 }}
                onPress={() => { this.closeDrawer() }}
              />
              <Label type="danger" size="xl" text="Drawer" />
            </View>
          </View>
        )
        this.state.drawer = Drawer.open(view, 'bottom')
      }
      closeDrawer() {
        this.state.drawer.close()
      }
    """
  'Teaset showMenu':
    'prefix': 'showMenu'
    'body': """
      showMenu(view, direction, align) {
        view.measure((x, y, width, height, pageX, pageY) => {
          const items = [
            {
              title: 'Search',
              icon: (<Icon name="rocket" size={20} color="#fff" />),
              onPress: () => Alert.alert('Search'),
            },
            {
              title: 'Edit',
              icon: (<Icon name="rocket" size={20} color="#fff" />),
              onPress: () => Alert.alert('Edit'),
            },
            {
              title: 'Remove',
              icon: (<Icon name="rocket" size={20} color="#fff" />),
              onPress: () => Alert.alert('Remove'),
            },
          ]
          Menu.show({
            x: pageX, y: pageY, width, height,
          }, items, {
            direction,
            align,
            showArrow: true,
          })
        })
      }
    """
    'description': 'Menu{} 菜单'
    'descriptionMoreURL': 'http://t.cn/RB9Yhze'
  # Teaset Toast API
  'Teaset Toast.message':
    'prefix': 'Toast.message'
    'body': """
      Toast.message('${1:Toast message}')
    """
  'Teaset Toast.success':
    'prefix': 'Toast.success'
    'body': """
      Toast.success('${1:Toast success}')
    """
  'Teaset Toast.fail':
    'prefix': 'Toast.fail'
    'body': """
      Toast.fail('${1:Toast fail}')
    """
  'Teaset Toast.smile':
    'prefix': 'Toast.smile'
    'body': """
      Toast.smile('${1:Toast smile}')
    """
  'Teaset Toast.sad':
    'prefix': 'Toast.sad'
    'body': """
      Toast.sad('${1:Toast sad}')
    """
  'Teaset Toast.info':
    'prefix': 'Toast.info'
    'body': """
      Toast.info('${1:Toast info}')
    """
  'Teaset Toast.stop':
    'prefix': 'Toast.stop'
    'body': """
      Toast.stop('${1:Toast stop}')
    """
  'Teaset Toast.showLoading':
    'prefix': 'Toast.showLoading'
    'body': """
      const loading = Toast.show({
        text: '$1',
        icon: <ActivityIndicator size="large" color={Theme.toastIconTintColor} />,
      })
    """
  'Teaset Toast.hideLoading':
    'prefix': 'Toast.hideLoading'
    'body': """
      Toast.hide(loading)
    """
  # Theme
  'Teaset Theme.statusBarHeight':
    'prefix': 'Theme.statusBarHeight'
    'body': """
      Theme.statusBarHeight
    """
  'Teaset Theme.navBarContentHeight':
    'prefix': 'Theme.navBarContentHeight'
    'body': """
      Theme.navBarContentHeight
    """
  'Teaset Theme.toastIconTintColor':
    'prefix': 'Theme.toastIconTintColor'
    'body': """
      Theme.toastIconTintColor
    """
  'Teaset Theme.backButtonTitle':
    'prefix': 'Theme.backButtonTitle'
    'body': """
      Theme.backButtonTitle
    """
  'Teaset Theme.primaryColor':
    'prefix': 'Theme.primaryColor'
    'body': """
      Theme.primaryColor
    """
  'Teaset Theme.dangerColor':
    'prefix': 'Theme.dangerColor'
    'body': """
      Theme.dangerColor
    """
  'Teaset Theme 修改默认配色方案':
    'prefix': 'Theme.themes'
    'body': """
      Theme.set(Theme.themes.${1:default/black/violet})
    """
  'Teaset Theme 修改部分默认值':
    'prefix': 'Theme.set'
    'body': """
      Theme.set({
        primaryColor: '#f55e5d',
        backButtonTitle: '返回',
      })
    """
